.file-input-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#selected-file {
    margin-left: 10px;
    font-style: italic;
}

#browse-button {
    margin-left: 10px;
}

#result {
    margin-top: 20px;
}